.footer {

  padding:80px 8% 30px;

  background:#020617;

  color:white;


  border-top:
  1px solid rgba(255,255,255,0.1);

}



/* Main container */


.footer-container {

  display:grid;

  grid-template-columns:
  2fr 1fr 1fr;

  gap:50px;

}



/* Brand */


.footer-brand h2 {

  font-size:2.2rem;

  margin-bottom:15px;

}


.footer-brand h2 span {

  color:#3b82f6;

}



.footer-brand p {

  max-width:350px;

  color:#cbd5e1;

  line-height:1.7;

}



/* Columns */


.footer-column {

  display:flex;

  flex-direction:column;

  gap:15px;

}



.footer-column h3 {

  margin-bottom:10px;

}



.footer-column a {

  text-decoration:none;

  color:#cbd5e1;

  transition:0.3s;

}



.footer-column a:hover {

  color:#3b82f6;

}



/* Bottom */


.footer-bottom {

  margin-top:60px;

  padding-top:25px;


  text-align:center;


  border-top:
  1px solid rgba(255,255,255,0.1);


  color:#94a3b8;

}



/* Mobile */


@media(max-width:800px){


.footer-container{

grid-template-columns:1fr;

}


}