.Navbar {
  width: 100%;
  padding: 18px 8%;
  background: rgba(10, 15, 30, 0.8);
  backdrop-filter: blur(12px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.logo span {
  color: #3b82f6;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.3s;
}

.nav-links a:hover {
  color: white;
}

.login-btn,
.start-btn {
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 15px;
}

.login-btn {
  background: transparent;
  color: white;
  border: 1px solid #475569;
}

.start-btn {
  background: #3b82f6;
  color: white;
  border: none;
}

.menu-icon {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* ---------- Mobile ---------- */

@media (max-width: 768px) {

  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 75px;
    left: -100%;
    width: 100%;
    background: #0f172a;

    flex-direction: column;
    gap: 20px;
    padding: 30px 0;

    transition: .4s ease;
  }

  .nav-links.active {
    left: 0;
  }
}